{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block content %}

	<div class="window {% block extra_window_classes %}regular{% endblock %}">
	
		<div class="windowHeader">
			{% block simple_window_title %}yo{%endblock%}
			
			{% if user.is_authenticated %}
   			<div id="barUserName" style="float: right;">		    			
					Welcome, {{user.username}}!
			</div>
			{% endif %}
		
		</div>
		
		
	
		<div class="windowContents">

			{% block simple_window_content %}
				Stuff
			{% endblock %}
					
		</div>
	</div>
	
{% endblock %}