{% load i18n %}
{% load compressed %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Automated Social Networking Bots with Twitter and Facebook integration{% block title %}{% endblock %}</title>

{% if 1 %}

{% compressed_css 'group_main' %}
{% compressed_js 'group_main' %}

{% else %}

	<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery-1.4.min.js"></script>
	
	{#<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery/js/jquery-ui-1.7.2.custom.min.js"></script>#}
	<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery.alerts-1.1/jquery.alerts.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}lib/datatables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}lib/datatables/dataTables_extra.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}lib/ptTimeSelect/jquery.ptTimeSelect.js"></script>
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}socialscripter.css" type="text/css" media="all" charset="utf-8" />
	{#<link rel="stylesheet" href="{{ MEDIA_URL }}lib/jquery/css/ui-lightness/jquery-ui-1.7.2.custom.css" type="text/css" media="all" charset="utf-8" />#}
	<link rel="stylesheet" href="{{ MEDIA_URL }}lib/jquery.alerts-1.1/jquery.alerts.css" type="text/css" media="all" charset="utf-8" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}lib/datatables/datatables.css" type="text/css" media="all" charset="utf-8" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}lib/ptTimeSelect/jquery.ptTimeSelect.css" type="text/css" media="all" charset="utf-8" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}lib/ptTimeSelect/timepicker_jquery-ui-1.7.1.custom.css" type="text/css" media="all" charset="utf-8" />
	
	<script src="{{ MEDIA_URL }}lib/CodeMirror-0.65/js/codemirror.js" type="text/javascript"></script>

{% endif %}

<meta name="description" content="Write simple scripts to automatically post unique statements to your Twitter and Facebook accounts." />
<meta name="keywords" content="social, scripter, script, twitter, facebook, networking, bot, automatic" />
<meta name="robots" content="all" />
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico" />

{% block extra_head %}{% endblock %}

</head>

<body id="{% block bodyid %}foo{% endblock %}">

<div id="main">		

	{% if messages %}
    	<div id="userMessages">
       		<div id="userMessagesContent">      	        	
				{% for message in messages %}
    				<div class="singleMessage">      	
    					{{ message }}
    				</div>
    			{% endfor %}				
			</div>
		</div>				
	{% endif %}    
   

    <div id="header">
    
    	<a href="{% url socialscripter_django.main.views.home %}">
    		<img src="{{ MEDIA_URL }}img/fb_lover_birds2.png" width="94" height="64" />	    	
	    	<img style="padding-top:10px" align="top" src="{{ MEDIA_URL }}img/title2.png" />
	    	<!--  <img src="{{ MEDIA_URL }}img/robot.png" width="64" height="64" />  -->
	    	<!--  <img src="{{ MEDIA_URL }}img/robot4.png" />  -->
	    	
	    </a>
    	
    	<!-- <h1>TwitterBot</h1>  -->    	  
			
		<div id="bar">
		
		<!--
		{% if user.is_authenticated %}
   			<div id="barUserName">		    			
					Welcome, {{user.username}}!
			</div>
		{% endif %}
		 -->
		
		
   		<ul>
   			{% if not user.is_authenticated %}
   				<li>
	   				<a href="{% url socialscripter_django.main.views.home %}">
	   					home
	   				</a>
	   			</li>
   			{% endif %}
   			
   			{% if user.is_authenticated %}
	   			<li>
	   				<a href="{% url socialscripter_django.main.views.user_scripts %}">
	   					my scripts
	   				</a>
	   			</li>
	   			<li>
	   				<a href="{% url socialscripter_django.main.views.new_script %}">
	   					create new script
	   				</a>
	   			</li>
	   			<li>
	   				<a href="{% url socialscripter_django.main.views.user_history %}">
	   					my history
	   				</a>
	   			</li>
	   		{% endif %}
	   		
	   		<li>
   				<a href="{% url socialscripter_django.main.views.browse %}">
   					browse scripts
   				</a>
   			</li>
   			<li>
   				<a href="{% url socialscripter_django.main.views.help %}">
   					help
   				</a>
   			</li>
   			
   			{% if user.is_authenticated %}
   				<li>
					<a href="/logout">logout</a>			
				</li>
				
			{% else %}
				<li>
					<a href="/login/?next={{request.path}}">login</a>
				</li>
				<li>
				 	<a href="/register/?next={{request.path}}">register</a>
				</li>			
			{% endif %}			
   		
   		</ul>
   		<div class="clear"></div>
   						
   		</div>

        
    </div>

    <div id="content">    
    	        
    	{% block content %}content{% endblock %}   		
       	        	
    </div>

	<div id="footer">		
		<a href="{% url socialscripter_django.main.views.contact %}">Contact Us</a> 
		| 
		<a href="{% url privacy %}">Privacy</a>
		|		
		&copy; 2010 <a href="http://www.superdonate.org">SuperDonate, Inc.</a>
		
	</div>

</div>

<script type="text/javascript">
	// Fade out any user messages after a few seconds?
	// This pops the window up, which is jarring and can result in bad clicks.
	//setTimeout( function() { $("#userMessages").fadeOut("slow"); }, 3000 );
	/*
	function hide_messages()
	{
		$("#userMessages").fadeOut("fast");
	}
	*/
	setTimeout( function() {
		$("div#userMessages").slideDown("slow", function() {
			setTimeout( function() { $("div#userMessages").slideUp("slow"); }, 3000 );
		});
	} , 500 );
</script>

</body>
</html>
