{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Browse{% endblock %}

{% block simple_window_title %}Browse Scripts{% endblock %}
{% block simple_window_content %}
		
<table id="scriptTable" class="display" >
   
<thead>
   	<tr>
    	<th>Script</th> <th>Creator</th> <th>Status</th> <th>Lines</th> <th>Created</th> <th>Modified</th>
	</tr>
</thead>

<tbody>			
		
{% for script in script_list %}

	<tr>
		<td>
			<a href="{% url socialscripter_django.main.views.edit_script script.id %}">
				{{script.name}}
			</a>
		</td>
		<td>
			{{script.user.username}}
		</td>
		<td>
			{% ifequal script.status 0 %}
				<span style="color:green;">OK</span>
			{% else %}
				<span style="color:red;">Script error</span>
			{% endifequal %}		
		</td>
		<td>
			{{script.num_lines}}
		</td>
		<td>
			{{ script.create_date|date:"Y-m-d h:m" }}			
		</td>
		<td>
			{{ script.modify_date|date:"Y-m-d h:m" }}			
		</td>	
	</tr>

{% endfor %}

</tbody>
</table>


<script type="text/javascript">
	$(document).ready(function() {
	
	    var oTable = $('#scriptTable').dataTable(
	
	    {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": true,
		"bAutoWidth": false,
		"aoColumns": [
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" }				
			]
	    });
	});
</script>

		
{% endblock %}