{% extends "main/base.html" %}
{% load i18n %}
{% load compressed %}

{% block title %} - {{form.instance.name}}{% endblock %}

{% block extra_head %}
{% compressed_css 'group_edit_script' %}
{% compressed_js 'group_edit_script' %}
{% endblock %}

{% block content %}

	<form id="form" name="form" action="" method="post">

	{% if not is_owner or not form.instance.twitter_username or not form.instance.twitter_oauth_access_token %}
		{# This is kind of retarded, but otherwise the form will not be valid when sent #}
		<input type="hidden" name="twitter_timing-frequency" value="0" />
		<input type="hidden" name="twitter_timing-anytime_range_min" value="1" />
		<input type="hidden" name="twitter_timing-anytime_range_max" value="2" />
		<input type="hidden" name="twitter_timing-wakingtime_range_min" value="1" />
		<input type="hidden" name="twitter_timing-wakingtime_range_max" value="2" />		
		<input type="hidden" name="twitter_timing-exacttime" value="13:00" />				
	{% endif %}
	
	{% if not is_owner or not form.instance.facebook_uid or not form.instance.facebook_session_key %}
		<input type="hidden" name="facebook_timing-frequency" value="0" />
		<input type="hidden" name="facebook_timing-anytime_range_min" value="1" />
		<input type="hidden" name="facebook_timing-anytime_range_max" value="2" />
		<input type="hidden" name="facebook_timing-wakingtime_range_min" value="1" />
		<input type="hidden" name="facebook_timing-wakingtime_range_max" value="2" />		
		<input type="hidden" name="facebook_timing-exacttime" value="13:00" />
	{% endif %}

	<div class="window fullsize" id="windowScript">
	
		<div class="windowHeader">
			{% if user.is_authenticated %}
   			<div id="barUserName" style="float: right;">		    			
					Welcome, {{user.username}}!
			</div>
			{% endif %}
			
			<div class="windowHeaderTitle">
				Script: {{form.instance.name}} (created by {{form.instance.user.username}})
				<noscript>
				JavaScript is disabled! Please enable JavaScript for the best experience.
				</noscript>
			</div>			
			
		</div>
		
		<div class="windowMenu" id="windowMenuScript">
			<ul>
				<li id="windowMenuScriptEdit" {% ifequal open_tab "Edit" %} class="selected" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Edit' %}" onclick="javascript: activate_scriptmenu('Edit'); return false;">
						Edit
					</a>	
				</li>
				<li id="windowMenuScriptRun" {% ifequal open_tab "Run" %} class="selected" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Run' %}" onclick="javascript: activate_scriptmenu('Run'); run_script(); return false;">
						Run
					</a>	
				</li>
				<li id="windowMenuScriptErrors" {% ifequal open_tab "Errors" %} class="selected" {% else %} class="gray" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Errors' %}" onclick="javascript: activate_scriptmenu('Errors'); return false;">
						Warnings/Errors
					</a>	
				</li>
				<li id="windowMenuScriptDebug" {% ifequal open_tab "Debug" %} class="selected" {% else %} class="gray" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Debug' %}" onclick="javascript: activate_scriptmenu('Debug'); return false;">
						Debug
					</a>	
				</li>

				<li id="windowMenuScriptTwitter" {% ifequal open_tab "Twitter" %} class="selected" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Twitter' %}" onclick="javascript: activate_scriptmenu('Twitter'); return false;">
						Twitter
					</a>	
				</li>
				<li id="windowMenuScriptFacebook" {% ifequal open_tab "Facebook" %} class="selected" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Facebook' %}" onclick="javascript: activate_scriptmenu('Facebook'); return false;">
						Facebook
					</a>	
				</li>
				<li id="windowMenuScriptShare" {% ifequal open_tab "Share" %} class="selected" {% endifequal %}>
					<a href="{% url socialscripter_django.main.views.edit_script form.instance.id 'Share' %}" onclick="javascript: activate_scriptmenu('Share'); return false;">
						Sharing
					</a>	
				</li>			
				
			</ul>
		</div>
		<div class="clear"></div>
	
		<div class="windowContents" id="windowContentsScriptEdit" {% ifnotequal open_tab "Edit" %}style="display:none;"{% endifnotequal %} >
				
			<div style="float: left;">
				Script name: {{form.name}}
			</div>
			
			<div style="float: right; padding-bottom: 10px;">
				Time zone: {{ form.localtz }}
			</div>
			<div class="clear"></div>
				
			<!-- <br/><br/>  -->
				
			<div id="scriptEditSingleScriptError" style="display:none;">SINGLE ERROR HERE</div>
								
			<div style="border: 1px solid black; padding: 0px;"> 
				{{form.script_data}}
			</div>
			
		</div>
		
		<div class="windowContents" id="windowContentsScriptRun" {% ifnotequal open_tab "Run" %}style="display:none;"{% endifnotequal %}>
		
			{% ifequal open_tab "Run" %}
			
				{% for sentence in script_result.sentences %}
					<div class="singleSentence">
						{{sentence}}
					</div>
				{% endfor %}
			
			{% endifequal %}
			
		</div>		
		
		<div class="windowContents" id="windowContentsScriptErrors" {% ifnotequal open_tab "Errors" %}style="display:none;"{% endifnotequal %}>
		
			{% ifequal open_tab "Errors" %}
				{% if script_result.errors %}
					*** Errors:
					{% for error in script_result.errors %}
						<br/>
						<a href="javascript: var a;" onclick="javascript: goto_script_line({{error.0}}); return false;">
							Line {{ error.0 }}: {{ error.1 }}
						</a>											
					{% endfor %}
				{% endif %}
				{% if script_result.warnings %}
					{% if script_result.errors %}
						<br/><br/>
					{% endif %}
					*** Warnings:
					{% for warning in script_result.warnings %}
						<br/>
						<a href="#windowScript" onclick="javascript: goto_script_line({{warning.0}}); return true;">
							Line {{ warning.0 }}: {{ warning.1 }}
						</a>												
					{% endfor %}
				{% endif %}
				{% if not script_result.errors and not script_result.warnings %}
					No errors or warnings
				{% endif %}
				
			{% else %}
			
				Click "Run" to check your script.
				
			{% endifequal %}
						
		</div>		
		
		<div class="windowContents" id="windowContentsScriptDebug" {% ifnotequal open_tab "Debug" %}style="display:none;"{% endifnotequal %}>
			
			{% ifequal open_tab "Debug" %}
				{{ script_result.debug|safe }}
			{% else %}
				Click "Run" to check your script.
			{% endifequal %}
			
		</div>	


		<div class="windowContents" id="windowContentsScriptTwitter" {% ifnotequal open_tab "Twitter" %}style="display:none;"{% endifnotequal %}>
			{% if not is_owner %}
			
				{% if not user.is_authenticated %}					
					Please <a href="/login/?next={{request.path}}">login</a> or <a href="/register/?next={{request.path}}">register</a> to enable these features.
					<br/>
					<br/>
				{% else %}					
					You must copy this script to your own account to enable Twitter settings. Click on "Copy Script" to do this.
					<br/>
					<br/>
				{% endif %}
				
			{% else %}				


				{# TB TODO - If no accounts at all, don't show frequency info? #}
				{# Or show it anyways to be exciting? #}
								
				<!--
				<a href="{% url socialscripter_django.main.views.oauth_twitter_start form.instance.id %}"><img src="{{ MEDIA_URL }}/img/authenticate_twitter.png" /></a><br/>
						
				<br/>	
				Click the above button and you will be temporarily taken to Twitter.com to authenticate your Twitter account settings.
				-->

				<span class="big"><b>Select Twitter Account</b></span>
				<br/>
				<!-- Select the Twitter account to post to:<br/>  -->
				{{ form.twitter_account }} <a href="{% url socialscripter_django.main.views.oauth_twitter_start form.instance.id %}"> add new account </a>	
				


				<br/>
				<br/>
				<br/>

				<!--	
				<img src="{{ MEDIA_URL }}/img/check.png" />
				&nbsp;<span class="bigger"><b>{{form.instance.twitter_username}}</b> is authenticated. </span>
								
				<br/>
				<br/>
				<br/>
				-->
				
				<span class="big"><b>When should the script post to Twitter?</b></span>
				<br/>
				<ul id="twitterFrequency" class="socialFrequency">
				
					<li id="twitterFrequency1">	
					<input type="radio" id="radioTwitterFrequency1" name="twitter_timing-frequency" value="1" {% ifequal form_twitter_timing.instance.frequency 1 %}checked="checked"{% endifequal %} /><label for="radioTwitterFrequency1">During normal waking hours, tweet </label>{{ form_twitter_timing.wakingtime_range_min }} to {{ form_twitter_timing.wakingtime_range_max }} times every day
					</li>
					
					<li id="twitterFrequency2">
					<input type="radio" id="radioTwitterFrequency2" name="twitter_timing-frequency" value="2" {% ifequal form_twitter_timing.instance.frequency 2 %}checked="checked"{% endifequal %} /><label for="radioTwitterFrequency2">At any time of the day, tweet </label>{{ form_twitter_timing.anytime_range_min }} to {{ form_twitter_timing.anytime_range_max }} times every day
					</li>
					
					<li id="twitterFrequency3">				
					<input type="radio" id="radioTwitterFrequency3" name="twitter_timing-frequency" value="3" {% ifequal form_twitter_timing.instance.frequency 3 %}checked="checked"{% endifequal %}/><label for="radioTwitterFrequency3">Tweet every day at </label>{{ form_twitter_timing.exacttime }}
					</li>
					
					<li id="twitterFrequency4">
					<input type="radio" id="radioTwitterFrequency4" name="twitter_timing-frequency" value="4" {% ifequal form_twitter_timing.instance.frequency 4 %}checked="checked"{% endifequal %}/><label for="radioTwitterFrequency4">As direct message to every new follower</label>
					</li>
					
					<li id="twitterFrequency5">
					<input type="radio" id="radioTwitterFrequency5" name="twitter_timing-frequency" value="5" {% ifequal form_twitter_timing.instance.frequency 5 %}checked="checked"{% endifequal %}/><label for="radioTwitterFrequency5">As direct message to every @ reply</label>
					</li>
					
					<li id="twitterFrequency0">				
					<input type="radio" id="radioTwitterFrequency0" name="twitter_timing-frequency" value="0" {% ifequal form_twitter_timing.instance.frequency 0 %}checked="checked"{% endifequal %} /><label for="radioTwitterFrequency0">Never</label>
					</li>
				
				</ul>	

				
				<br/>
				<br/>
				<br/>
				
				<span class="big"><b>Automatic follow/friend</b></span>
				<ul id="twitterBefriend">
					<li>
						{{ form.twitter_befriend_followers }}<label for="id_twitter_befriend_followers">Befriend all new followers</label>
					</li>
					<li>
						{{ form.twitter_befriend_replies }}<label for="id_twitter_befriend_replies">Befriend all @ replies</label>
					</li>
				</ul>
				
				
				<!-- 
				<br/>
				<br/>
				Post quick tweet to <b>{{form.instance.twitter_username}}</b>
				<br/>
				<input size="255" style="width: 500px;" type="text" id="id_twitter_message" name="id_twitter_message" value="" />									
	
				<a href="javascript: var a;" onclick="javascript: post_quick_tweet();">Send</a>
				<br/>
				<span id="quickTweetResult"></span>
				
				 -->

				<!--									
				<br/>
				<br/>
				<a href="{% url socialscripter_django.main.views.oauth_twitter_start form.instance.id %}">Use different Twitter account</a>
				<br/> 
				<br/>
				<a href="{% url socialscripter_django.main.views.oauth_twitter_remove form.instance.id %}">Remove authentication</a>
			 	-->

			{% endif %}

		</div>	
		
		<div class="windowContents" id="windowContentsScriptFacebook" {% ifnotequal open_tab "Facebook" %}style="display:none;"{% endifnotequal %}>
			{% if not is_owner %}
			
				{% if not user.is_authenticated %}					
					Please <a href="/login/?next={{request.path}}">login</a> or <a href="/register/?next={{request.path}}">register</a> to enable these features.
					<br/>
					<br/>
				{% else %}					
					You must copy this script to your own account to enable Twitter settings. Click on "Copy Script" to do this.
					<br/>
					<br/>
				{% endif %}
				
			{% else %}	

				<!-- 
					<a href="{% url socialscripter_django.main.views.auth_facebook_start form.instance.id %}"><img src="{{ MEDIA_URL }}/img/authenticate_facebook.png" /></a><br/>
									
					<br/>						
					Click the above button and you will be temporarily taken to Facebook.com to authenticate your Facebook account settings.
				 -->

				
				<span class="big"><b>Select Facebook Account</b></span>
				<br/>				
				{{ form.facebook_account }} <a href="{% url socialscripter_django.main.views.auth_facebook_start form.instance.id %}"> add new account </a>	
								
				<br/>
				<br/>
				<br/>
			
				<!-- 
				<img src="{{ MEDIA_URL }}/img/check.png" />
				&nbsp;<span class="bigger"><b>{{form.instance.facebook_name}}</b> is authenticated. </span>
								
				<br/>
				<br/>
				<br/>
				-->
				
				<span class="big"><b>When should the script post to Facebook?</b></span>
				
				<ul id="facebookFrequency" class="socialFrequency">
			
					<li id="facebookFrequency1">	
					<input type="radio" id="radioFacebookFrequency1" name="facebook_timing-frequency" value="1" {% ifequal form_facebook_timing.instance.frequency 1 %}checked="checked"{% endifequal %} /><label for="radioFacebookFrequency1">During normal waking hours, tweet </label>{{ form_facebook_timing.wakingtime_range_min }} to {{ form_facebook_timing.wakingtime_range_max }} times every day
					</li>
					
					<li id="facebookFrequency2">
					<input type="radio" id="radioFacebookFrequency2" name="facebook_timing-frequency" value="2" {% ifequal form_facebook_timing.instance.frequency 2 %}checked="checked"{% endifequal %} /><label for="radioFacebookFrequency2">At any time of the day, tweet </label>{{ form_facebook_timing.anytime_range_min }} to {{ form_facebook_timing.anytime_range_max }} times every day
					</li>
					
					<li id="facebookFrequency3">				
					<input type="radio" id="radioFacebookFrequency3" name="facebook_timing-frequency" value="3" {% ifequal form_facebook_timing.instance.frequency 3 %}checked="checked"{% endifequal %}/><label for="radioFacebookFrequency3">Tweet every day at </label>{{ form_facebook_timing.exacttime }}
					</li>
					
					<li id="facebookFrequency0">				
					<input type="radio" id="radioFacebookFrequency0" name="facebook_timing-frequency" value="0" {% ifequal form_facebook_timing.instance.frequency 0 %}checked="checked"{% endifequal %} /><label for="radioFacebookFrequency0">Never</label>
					</li>
					
				</ul>
				
				<!--
				<br/>
				<br/>
				<a href="{% url socialscripter_django.main.views.auth_facebook_start form.instance.id %}">Use different Facebook account</a>
				<br/> 
				<br/>
				<a href="{% url socialscripter_django.main.views.auth_facebook_remove form.instance.id %}">Remove authentication</a>
				-->
				 	
			{% endif %}		
						
		</div>	
		
		<div class="windowContents" id="windowContentsScriptShare" {% ifnotequal open_tab "Share" %}style="display:none;"{% endifnotequal %}>
			{% if not is_owner %}
			
				{% if not user.is_authenticated %}					
					Please <a href="/login/?next={{request.path}}">login</a> or <a href="/register/?next={{request.path}}">register</a> to enable these features.
					<br/>
					<br/>
				{% else %}					
					You must copy this script to your own account to enable Twitter settings. Click on "Copy Script" to do this.
					<br/>
					<br/>
				{% endif %}
				
			{% else %}					
			
				{{ form.sharing_enabled }}<label for="id_sharing_enabled">Let other users see this script</label>			
				<br/>
				If this option is enabled, users can view your script, but can not make any changes to it. Other users can never see your Twitter settings.
	
				<br/><br/>
				
				{{ form.sharing_show_links }}<label for="id_sharing_show_links">Let users see a link to the Twitter and/or Facebook page that this script is posting to</label>
	
				<br/><br/>
	
				Email script to a friend <input type="text" id="id_email_address" name="email_address" value="email address" />									
	
				<a href="javascript: var a;" onclick="javascript: email_script();">Send</a>
				<span id="sendEmailResult"></span>
				
				<br/>
				An email with the script text, sample output and a link to this page will be emailed to the above address.						
				
			{% endif %}
		</div>		
		
				
		 
		<div class="windowContents" id="windowContentsScriptSave" style="display:none;">
			<div class="dirtyMessageGreen" id="dirtyMessage">
				Script has not been modified.
			</div>					
		</div>
		

			
		<div class="windowMenu" id="windowMenuFoo">
			<ul>
				{% if is_owner %}
					<li id="windowMenuScriptSave">
						<a href="#" onclick="javascript: save_script(); return false;">
							Save Script
						</a>	
					</li>
					
					<li id="windowMenuScriptSaveResult" style="padding: 5px 5px 5px 20px; color: black;">
											
					</li>
				
				{% endif %}
				
												
				{% if user.is_authenticated %}
					<li id="windowMenuScriptCopy" style="float:right;">
						<a href="#" onclick="javascript: copy_script(); return false;">
							Copy Script
						</a>	
					</li>
				{% endif %}
				
				{% if is_owner %}
					<li style="float:right;">
						<a href="{% url socialscripter_django.main.views.delete_script form.instance.id %}" onclick="return delete_script();">
							Delete Script
						</a>
					</li>
				{% endif %}
				
				{% if not is_owner and user.is_superuser %}
					<li style="float:right;">
						<a href="{% url socialscripter_django.main.views.delete_script form.instance.id %}" onclick="return delete_script();">
							SuperUserDelete Script
						</a>
					</li>
				{% endif %}
			</ul>	
		</div>
		
		<div class="clear"></div>
		


	</div>
	

				 
	</form>



<script type="text/javascript">

var isDirty = false;
var lastEmailAddress = "";

// We can't just store the script_id in a static form variable since the ID
// will change if we start with a blank form and then save it -- a script_id will be assigned,
// and we must use that from then on in order to save to the correct database record.
// Actually, this is no longer the case. When "create new script" is created, a new
// record in the database is instantly assigned. We are then immediately taken to the edit
// page for that script ID.
// Also, copying the script results in a redirect to the edit page for the new script.
// This is better than using javascript magic and changing script ids since otherwise we
// will be in a state where the URL listed in the browser does not correspond to the URL
// that will lead us back to this script.
var scriptID = {{form.instance.id}}; 
var codeMirrorEditor = null;

function activate_scriptmenu(id)
{
	$("div#windowScript .windowMenu li").removeClass("selected");
	$("div#windowScript .windowMenu li#windowMenuScript" + id).addClass("selected");
	
	$("div#windowScript .windowContents").hide();
	$("div#windowScript #windowContentsScript" + id).show();

	// TB TODO - Is there a better way to handle the radio buttons? Any way to see if the VALUE has changed?
	$("div#windowScript div#windowContentsScriptEdit div#scriptEditSingleScriptError").hide();
} 


// Dirty detection
$('textarea, input:text, select').change( function(event) {
	dirty();
});

$("input:radio, input:checkbox").click( function(event) {
	dirty();
});


$("ul#twitterFrequency li#twitterFrequency{{form_twitter_timing.instance.frequency}}").addClass("selected");
$("ul#facebookFrequency li#facebookFrequency{{form_facebook_timing.instance.frequency}}").addClass("selected");

function selectTwitterFrequency(id) {
	$("#radioTwitterFrequency" + id).attr("checked", true);
		
	$("ul#twitterFrequency li").removeClass("selected");
	$("ul#twitterFrequency li#twitterFrequency" + id).addClass("selected");

	dirty();
}

$("ul#twitterFrequency input:radio").click( function() {
	selectTwitterFrequency($(this).val());
});

$("#id_twitter_timing-wakingtime_range_min, #id_twitter_timing-wakingtime_range_max").click( function() {
	selectTwitterFrequency(1);	
});

$("#id_twitter_timing-anytime_range_min, #id_twitter_timing-anytime_range_max").click( function() {
	selectTwitterFrequency(2);	
});

$("#id_twitter_timing-exacttime").click( function() {
	selectTwitterFrequency(3);	
});
 




function selectFacebookFrequency(id) {
	$("#radioFacebookFrequency" + id).attr("checked", true);
		
	$("ul#facebookFrequency li").removeClass("selected");
	$("ul#facebookFrequency li#facebookFrequency" + id).addClass("selected");

	// TB TODO - Is there a better way to handle the radio buttons? Any way to see if the VALUE has changed?
	dirty();
}

$("ul#facebookFrequency input:radio").click( function() {
	selectFacebookFrequency($(this).val());
});

$("#id_facebook_timing-wakingtime_range_min, #id_facebook_timing-wakingtime_range_max").click( function() {
	selectFacebookFrequency(1);	
});

$("#id_facebook_timing-anytime_range_min, #id_facebook_timing-anytime_range_max").click( function() {
	selectFacebookFrequency(2);	
});

$("#id_facebook_timing-exacttime").click( function() {
	selectFacebookFrequency(3);	
});


$('#id_twitter_timing-exacttime, #id_facebook_timing-exacttime').ptTimeSelect(
		{
			containerClass: "timeCntr",
			containerWidth: "350px",
			setButtonLabel: "Select",
			onClose: function(i) {
				//alert( $(i).val() );		
				//$(i).val("foo");		
			}
		}
		);




{% if script_result.errors or script_result.warnings %}
	$("#windowMenuScriptErrors").addClass("red");
{% endif %}

{% if is_owner or user.is_superuser %}
function delete_script()
{
	// ALERT YES/NO VERIFY	
	$.alerts.cancelButton = "&nbsp;Cancel&nbsp;";
	$.alerts.okButton = "&nbsp;Delete&nbsp;";
	$.alerts.overlayOpacity = 0.5;
	$.alerts.overlayColor = "#000";

	// If I decide to get rid of ui draggable, then I must make this false to avoid javascript dependency errors.
	$.alerts.draggable = false;	
	jConfirm('Are you sure you want to delete this script?' , 'Confirm script deletion', function(r) { 
		if(r) {

			// TB TODO - Make it stay a little bit so that the footer doesn't pop up when the window is fully gone?
			$("#windowScript").fadeOut("slow", function() {
				window.location = "{% url socialscripter_django.main.views.delete_script form.instance.id %}"
				//alert("deleting!");			
			});
						
		}
	});
	
	return false;
}

function save_script()
{
	
	if( codeMirrorEditor != null ) {
		$("#id_script_data").val( codeMirrorEditor.getCode() ) 
	}

	save_message("Saving...", 'dirtyMessageBlue')

	d = $("#form").serialize();	
	d = d + "&script_id=" + scriptID;


	jQuery.ajax({
		type: "POST",
		data: d,
		url: "{% url socialscripter_django.main.views.save_script_json %}",
		timeout: 45000,
		error: function() {
			console.log("Failed to submit");
			save_message('General AJAX error. Please try again.', 'dirtyMessageRed')
		},
		success: function(r) {
			//alert(r);
			
			var obj = eval( '(' + r + ')' );

			if( obj.result == 'success' ) {				
				clean();

				// In case the name was changed, update the title string
				$("#windowScript .windowHeaderTitle").html( "Script: " + $("#id_name").val() + " (created by {{form.instance.user.username}})" );	

				// Update the scriptID value with what was returned by JSON!
				// We need to do this since saving a new script will result in a scriptID
				// being assigned to us, which we must then use.
				// No longer needed. Script ID does not change.
				// scriptID = obj.script_id;
			}
			else {
				save_message('Error saving script: ' + obj.message, 'dirtyMessageRed')
			}			
			
		}
	});
	
}
{% endif %}

{% if user.is_authenticated %}
function copy_script() {

	$.alerts.cancelButton = "&nbsp;Cancel&nbsp;";
	$.alerts.okButton = "&nbsp;Copy&nbsp;";
	$.alerts.overlayOpacity = 0.5;
	$.alerts.overlayColor = "#000";
	$.alerts.draggable = false;

	//This script was created by <b>NAME</b> and is write protected.<br/><br/>

	{% if is_owner %}
		var text = "You are the owner of this script.<br/><br/>Do you want to make a copy of this script?";
	{% else %}
		var text = "You can copy this script to your account to get full access to all script features.<br/><br/>Save<br/>Load<br/>Twitter<br/>Facebook<br/>Sharing<br/><br/>The original script will not be affected.";
	{% endif %}
	
	// If I decide to get rid of ui draggable, then I must make this false to avoid javascript dependency errors.
	//$.alerts.draggable = false;	
	jConfirm(text , 'Confirm script copy', function(r) { 
		if(r) {

			//alert("copyoing!");
			window.location = "{% url socialscripter_django.main.views.copy_script form.instance.id %}"		
						
		}
	});

}
{% endif %}

function remove_dirty_classes()
{
	$("#dirtyMessage").removeClass('dirtyMessageRed');
	$("#dirtyMessage").removeClass('dirtyMessageBlue');	
	$("#dirtyMessage").removeClass('dirtyMessageGreen');
}

function save_message(msg, colorClass)
{
	$("#dirtyMessage").html(msg);
	remove_dirty_classes();		
	$("#dirtyMessage").addClass(colorClass);

	$("#windowMenuScriptSaveResult").html(msg);
}

function clean()
{
	isDirty = false;
	save_message("Script successfully saved", 'dirtyMessageGreen')
}

function dirty()
{
	{% if is_owner %}
		if( isDirty == false ) {
			//save_message('This script has been modified. Click "save" to save your work.', 'dirtyMessageRed')
			
			html = '<a href="#" onclick="javascript: save_script(); return false;">Save Script</a>';
			$("#windowMenuScriptSave").html(html)
			
			save_message('Script has been modified', 'dirtyMessageRed');	
		}
	{% endif %}
		
	isDirty = true;	
}

function goto_script_line(desiredLine, message)
{
	activate_scriptmenu('Edit');

	$("div#windowScript div#windowContentsScriptEdit div#scriptEditSingleScriptError").show();
	$("div#windowScript div#windowContentsScriptEdit div#scriptEditSingleScriptError").html('Line ' + desiredLine + ': ' + message);
	
	if( codeMirrorEditor != null ) {
		//alert("boo");
		
		// For some reason calling selectLines immediatelly after active_scriptmenu
		// causes a null selection. This delay fixes that problem... but it's not a clean solution. 
		setTimeout( function() { 
					
			// It is possible that the editor has not been loaded yet. In that case, this call
			// will result in a javascript error... So just do nothing... :P
			if( codeMirrorEditor.editor ) {
				codeMirrorEditor.selectLines(codeMirrorEditor.nthLine(desiredLine), 0);
			}

		}, 500 );

		return;
	}
	
	
	var scr = document.getElementById('id_script_data');
	
	// Figure out what we should select
	var selStart = 0;
	var selEnd = 0;
	var lines = scr.value.split('\n');

	for( var i = 0; i < lines.length; i++ ) {

		selStart = selEnd;
		selEnd = selEnd + lines[i].length + 1;
		
		desiredLine--;
		if( desiredLine < 0 ) {
			break;
		}
		
	}

	scr.focus();	
	scr.setSelectionRange( selStart, selEnd );

}

function email_script()
{
{% if is_owner %}
	$("#sendEmailResult").show();
	

	var emailAddress = $("#id_email_address").val();
	
	if( lastEmailAddress == emailAddress ) {
		$("#sendEmailResult").html("You've already sent an email to " + emailAddress);
		return;
	}

	$("#sendEmailResult").html("Sending...");	
	lastEmailAddress = emailAddress;
	
	jQuery.ajax({
		type: "POST",
		data: { 
			email_address: emailAddress,
			script_id: scriptID,						
		},
		url: "{% url socialscripter_django.main.views.email_script_json %}",
		timeout: 45000,
		error: function() {
			console.log("Failed to submit");
			$("#sendEmailResult").html("General AJAX error. Please try again");
		},
		success: function(r) {
			// alert(r);
			var obj = eval( '(' + r + ')' );

			if( obj.result == "success" ) {
				$("#sendEmailResult").html("Email successfully sent to " + emailAddress);
			}
			else {
				$("#sendEmailResult").html("Error: " + obj.message);
			}
		}
	});
{% else %}
	$("#sendEmailResult").html("Please login or register first.");
	return;	
{% endif %}
}

function post_quick_tweet()
{
	{% if is_owner %}
	$("#quickTweetResult").show();	

	var message = $("#id_twitter_message").val();

	$("#quickTweetResult").html("Sending...");	
		
	jQuery.ajax({
		type: "POST",
		data: { 
			message: message,
			script_id: scriptID,						
		},
		url: "{% url socialscripter_django.main.views.post_twitter_json %}",
		timeout: 45000,
		error: function() {
			console.log("Failed to submit");
			$("#quickTweetResult").html("General AJAX error. Please try again");
		},
		success: function(r) {
			// alert(r);
			var obj = eval( '(' + r + ')' );

			if( obj.result == "success" ) {
				$("#quickTweetResult").html("Sent!");
			}
			else {
				$("#quickTweetResult").html("Error: " + obj.message);
			}
		}
	});
{% else %}
	$("#quickTweetResult").html("Please login or register first.");
	return;	
{% endif %}	
}

function run_script()
{	
	var script_data;
	if( codeMirrorEditor != null ) {
		script_data = codeMirrorEditor.getCode(); 
	}
	else {
		script_data = $("#id_script_data").val();
	}
	
	$("#windowContentsScriptRun").html("Running script...");
	$("#windowMenuScriptErrors").removeClass("red");	
	
	jQuery.ajax({
		type: "POST",
		data: { 
			script_data: script_data,			 
			show_debug: true,
		},
		url: "{% url socialscripter_django.main.views.run_script_json form.instance.id %}",
		timeout: 45000,
		error: function() {			
			$("#runScript").show();

			$("#windowContentsScriptRun").html("General AJAX error. Please try again.");
		},
		success: function(r) {			


			$("#windowMenuScriptDebug").removeClass("gray");
			$("#windowMenuScriptErrors").removeClass("gray");
			$("#windowMenuScriptErrors").removeClass("red");			
			
			var obj = eval( '(' + r + ')' );			
			
			var html_data = '';
			if( obj.sentences.length > 0 ) {
				
				for( var i in obj.sentences ) {
					html_data += '<div class="singleSentence">';
					html_data += obj.sentences[i];
					html_data += "</div>";
				}

				html_data += '<br/><a href="#" onclick="javascript: run_script(); return false;">Run script again</a>';
				
			}
			else {
				html_data = "Please fix the errors in your script first.";

				$("#windowMenuScriptDebug").addClass("gray");
				activate_scriptmenu('Errors');
				$("#windowContentsScriptDebug").html("Please fix the errors in your script first.");
			}		
			
			$("#windowContentsScriptRun").html(html_data);

			
			html_data = '';			
			if( obj.errors.length == 0 && obj.warnings.length == 0 ) {
				html_data += "No errors or warnings.";				
				$("#windowMenuScriptErrors").addClass("gray");				
			}
			else {

				html_data += "Click on an error or warning to jump to that line in your script.<br/><br/>"
				
				$("#windowMenuScriptErrors").addClass("red");
				
				if( obj.errors.length > 0 ) {
					html_data += '<span style="color:red; font-weight: bold;">Errors:</span><br/><br/>';
										
					for( var i in obj.errors ) {						
						html_data += '<a href="javascript: var a;" onclick="javascript: goto_script_line(' + obj.errors[i][0] + ', \'' + obj.errors[i][1] + '\'); return false;">';
						html_data += 'Line ' + obj.errors[i][0] + ': ' + obj.errors[i][1];
						html_data += '</a>';
						html_data += '<br/>'; 
					}
				}
				
				if( obj.warnings.length > 0 ) {

					if( obj.errors.length > 0 ) {
						html_data += '<br/><br/>';
					}
					
					html_data += '<span style="color:red; font-weight: bold;">Warnings:</span><br/><br/>';
										
					for( var i in obj.warnings ) {
						html_data += '<a href="javascript: var a;" onclick="javascript: goto_script_line(' + obj.warnings[i][0] + ', \'' + obj.warnings[i][1] + '\'); return false;">';
						html_data += 'Line ' + obj.warnings[i][0] + ': ' + obj.warnings[i][1];
						html_data += '</a>'; 
						html_data += '<br/>';
					}
				}

			}
			$('#windowContentsScriptErrors').html( html_data );
			

			if( obj.debug ) {								
				$("#windowContentsScriptDebug").html(obj.debug);
			}
								
			
		}
	});

}



function show_panel(p)
{
	$('.boxContentPanel').hide();
	$('.boxHeaderItem').removeClass('selected');
	$('#panel' + p).show();
	$('#header' + p).addClass('selected');
}

function show_script_panel(p, containerID)
{
	$('.resultContentPanel').hide();
	$('.resultHeaderItem').removeClass('selected');	
	$('#resultHeader' + p).addClass('selected');

	// $('#resultPanel' + p).show();
	$('#' + containerID).show();
}



codeMirrorEditor = CodeMirror.fromTextArea('id_script_data', {
   	height: "350px",
   	parserfile: "codemirror_parsesocialscripter.js",
   	//parserfile: "parsesparql.js",
   	stylesheet: "{{ MEDIA_URL }}lib/CodeMirror-0.65/css/codemirror_socialscriptercolors.css",
   	//stylesheet: "{{ MEDIA_URL }}/CodeMirror-0.65/css/sparqlcolors.css",
   	path: "{{ MEDIA_URL }}lib/CodeMirror-0.65/js/",

   	// This setting causes chrome to no longer blink the cursor...
   	//continuousScanning: 500,
   	lineNumbers: true,
   	disableSpellcheck: true,
   	textWrapping: false,
   	onChange: dirty,
 	});  	
	
</script> 



{% endblock %}