{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - My History{% endblock %}
{% block simple_window_title %}My History{% endblock %}
{% block simple_window_content %}

	{% if history_list %}
	
		<table id="scriptTable" class="display" >
   
		<thead>
		   	<tr>
		    	<th>Date</th> <th>Script</th> <th>Info</th>
			</tr>
		</thead>
		<tbody>
	
		{% for history in history_list %}
		<tr>
		
			<td>			
				{{ history.create_date|date:"Y-m-d h:m" }}			
			</td>
		
			<td>
			<a href="{% url socialscripter_django.main.views.edit_script history.script.id %}">
				{{ history.script.name }}			
			</a>
			</td>
			
			<td>
			
				{% ifequal history.event 0 %}Script created{% endifequal %}
				{% ifequal history.event 1 %}Script deleted{% endifequal %}				
				{% ifequal history.event 100 %}Twitter post success{% endifequal %}
				{% ifequal history.event 101 %}Twitter post failed{% endifequal %}
				{% ifequal history.event 102 %}Twitter direct message to {{history.extra}} success{% endifequal %}
				{% ifequal history.event 103 %}Twitter direct message to {{history.extra}} failed{% endifequal %}
				{% ifequal history.event 200 %}Facebook post success{% endifequal %}
				{% ifequal history.event 201 %}Facebook post failed{% endifequal %}
			
			</td>
				
		</tr>
		
		{% endfor %}
		
		</tbody>	
		
		</table>
	
	{% else %}
	
		No history yet! History items are generated when your scripts activate automatic actions, such as posting to twitter.
	
	{% endif %}
		
<script type="text/javascript">
	$(document).ready(function() {
	
	    var oTable = $('#scriptTable').dataTable(
	
	    {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": true,
		"bAutoWidth": false,
		"aoColumns": [
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },		
			]
	    });
	});
</script>
	
						
{% endblock %}