{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %}{% endblock %}
{% block simple_window_title %}Main{% endblock %}
{% block extra_window_classes %}regular index{% endblock %}
{% block simple_window_content %}

<div id="leftText">

	<h1>Automated Social Networking Bots</h1>

	<div class="screenshotContainer">
		<div class="screenshotImage">
		
			<img src="{{ MEDIA_URL }}img/screenshots/output.png"/> 
		
		</div>
		<div class="screenshotText">
			<h2>Automated Social Networking Bots</h2>
			
			<p>
			Create unique and dynamic bots that automatically post to your Twitter and Facebook accounts.
			</p>
			
			<p>
			Write your script, attach it to a Twitter or Facebook account, set the posting frequency, and SocialScripter will take care of the rest.
			</p>						
		</div>
		<div class="clear"></div>
	</div>

	
	<div class="screenshotContainer">
		<div class="screenshotImage">
		
			<img src="{{ MEDIA_URL }}img/screenshots/editor.png"/> 
		
		</div>
		<div class="screenshotText">
			<h2>Powerful Scripting System</h2>
			
			<p>
			Slick AJAX scripting environment has everything you need to build and run your scripts.
			</p>
			
			<p>
			Edit your script code with the built in color coded editor. Run your script and get sample output with a button press.			
			</p>
			
		</div>
		<div class="clear"></div>
	</div>


	<div class="screenshotContainer">
		<div class="screenshotImage">
		
			<img src="{{ MEDIA_URL }}img/screenshots/twitter.png"/>			
		
		</div>
		<div class="screenshotText">
			<h2>Twitter and Facebook Integration</h2>
			
			<p>			
			Specify what times to post to Twitter and Facebook.
			</p>
			
			<p>
			Automatically reply to direct messages and @ replies with a scripted response. Automatically befriend new followers and @ replies.
			</p>
			
			<p>
			Insert dynamically generated top Twitter trends into your script output.
			</p>
			
		</div>
		<div class="clear"></div>
	</div>

	
	<div class="screenshotContainer">
		<div class="screenshotImage">
		
			<img src="{{ MEDIA_URL }}img/screenshots/debugger.png"/>	
		
		</div>
		<div class="screenshotText">
			<h2>The Scripting Language</h2>						
			
			<p>
			The Scripting language is simple but powerful: filters, replacers, and variables. A basic script debugger is also included.
			</p>
			
			<p>
			Use replacers and variables to add dynamic values to your scripts: the date, upcoming Twitter trends, etc. 
			</p>
			
			<p>
			Filters can be added to post-process any statements. For example, add random spelling mistakes to make your scripts seem more human.
			</p>
			
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="screenshotContainer">
		<div class="screenshotImage">
		
			<img src="{{ MEDIA_URL }}img/screenshots/browse.png"/>  
		
		</div>
		<div class="screenshotText">
			<h2>Sharing</h2>
			
			<p>			
			Browse and explore scripts created by others.
			</p>
			
			<p>
			Share your favorite scripts with friends.
			</p>
			
			<p>
			Copy and modify scripts, attach to your own Twitter/Facebook account.
			</p>
			 
		</div>
		<div class="clear"></div>
	</div>
</div>	

<div id="miniLogin">

	<form class="simpleForm" method="post" action="{% url django.contrib.auth.views.login %}">
		<div class="window">
		
			<div class="windowHeader">
				Login
			</div>
		
			<div class="windowContents">
	
				<div class="labelField">
					<label for="username">username:</label>
					<div class="simpleFormInput">
						{{ form.username }}		
					</div>
					<div class="simpleFormError">
						{{ form.errors.username }}
					</div>
					<div class="clear"></div>
				</div>
			
				<div class="labelField">
					<label for="username">password:</label>
					<div class="simpleFormInput">
						{{ form.password }}		
					</div>
					<div class="simpleFormError">
						{{ form.errors.password }}
					</div>
					<div class="clear"></div>
				</div>
		
				<br/>
	
				<input type="submit" value="login" />
	
				<br/>
				<br/>
				<a href="{% url password_reset %}">Forget your password?</a>

				<br/>
				<br/>
				
				<a href="{% url socialscripter_django.main.views.register %}">Create new account in seconds!</a>
						
			</div>
		</div>
	</form>
	
	<br/><br/>
	<b>Check out these scripts!</b>
	
	<br/><br/><br/>
	
	<a href="{% url socialscripter_django.main.views.edit_script 4 %}">
		Twitter Trends
	</a>
	-
	<a href="http://www.twitter.com/tbak_test2">
		(Twitter Link)
	</a>
		
	<br/><br/><br/>
	
	<a href="{% url socialscripter_django.main.views.edit_script 3 %}">
		Dr. Seuss
	</a>
	
	<br/><br/><br/>
	
	<a href="{% url socialscripter_django.main.views.edit_script 2 %}">
		Simple<br/>
	</a>
	
</div>
<div class="clear"></div>
	
<center> 
	<img src="{{ MEDIA_URL }}img/fb_lover-birds.jpg"/><br/>
	<h1>SocialScripter</h1>	 
</center>


{% endblock %}