{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Login{% endblock %}
{% block simple_window_title %}Login{% endblock %}
{% block extra_window_classes %}small{% endblock %}
{% block simple_window_content %}


<form class="simpleForm" method="post" action="{% url django.contrib.auth.views.login %}">

	{% if form.errors %}
	<div class="simpleFormError">
		Your username and password didn't match. Please try again.
	</div>
	<div class="clear"></div>
	<br/>
	{% endif %}

	<div class="labelField">
		<label for="username">username:</label>
		<div class="simpleFormInput">
			{{ form.username }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.username }}
		</div>
		<div class="clear"></div>
	</div>

	<div class="labelField">
		<label for="username">password:</label>
		<div class="simpleFormInput">
			{{ form.password }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.password }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

<br/>
<a href="{% url password_reset %}">Forget your password?</a>

<br/>
<br/>

<a href="{% url socialscripter_django.main.views.register %}">Create new account in seconds!</a>

{% endblock %}