{% extends "main/base_simple.html" %}

{% block title %} - Password Reset{% endblock %}

{% block simple_window_title %}Password Reset{% endblock %}
{% block simple_window_content %}

<p>Forgotten your password?<br/><br/>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form action="" method="post">
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>

{% endblock %}