{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Privacy{% endblock %}
{% block extra_window_classes %}regular{% endblock %}

{% block simple_window_title %}Your privacy is safe with SocialScripter{% endblock %}
{% block simple_window_content %}

<!--
	<p>
	We share none of your personal information with anybody else.
	</p>
	
	<p>
	All of your information, including your email address, is completely private.
	</p>
	
	<p>
	We will never send you any emails that you didn't sign up for.
	</p>
	
	<p>
	If you share a script, the contents of the script will be viewable by others. Your Twitter and Facebook settings for that script will never by viewable by others.
	</p>
	
	<p>
	Twitter authorization uses <a href="http://oauth.net/">OAuth</a>, which ensures that we never have access to your login credentials. Facebook uses a similar proprietary system to keep your information safe.
	</p>
	 
	<p>
	We only send Twitter and Facebook posts on your behalf when you have enabled that feature. You can disable Twitter and Facebook automatic posting at any time.
	</p>
-->

Privacy Policy
<br/>
Effective January 28, 2010
<br/>
<p>
This privacy policy describes how we collect and use your data. SuperDonate, Inc. owns and operates SOCIALSCRIPTER.COM.
</p>
<p>
1. INFORMATION WE COLLECT.<br/>SOCIALSCRIPTER.COM collects information our users submit to us such as their name and e-mail address to allow us to identify users and notify them of changes or updates to our service. SOCIALSCRIPTER.COM also collects information from users that is unique, but cannot be linked to a specific individual, such as IP address and browser type. A user's session will be tracked, but each user will remain anonymous. We gather this information for systems administration purposes and to track user trends. We do not link IP addresses to any personally identifiable information.
</p>
<p>
2. COOKIES.<br/>Like many other Web sites, SOCIALSCRIPTER.COM uses a standard technology called "cookies." Cookies are small pieces of information stored on your hard drive -- not on our site. They can help make the Internet experience quicker and more convenient. Cookies allow our users to login without entering their ID and password each time they use SOCIALSCRIPTER.COM. Cookies help us understand how members use SOCIALSCRIPTER.COM, which allows us to improve upon the service. Members who disable cookies will not be able to use SOCIALSCRIPTER.COM.
</p>
<p>
3. HOW WE USE YOUR PERSONAL INFORMATION.<br/> SOCIALSCRIPTER.COM uses personal information to create a secure and personalized service for our members.
</p>
<p>
4. DISCLOSURE OF PERSONAL INFORMATION.<br/> We will not sell, lease or exchange your personal data to third parties without first obtaining your express consent, unless required by law or to protect your membership.
</p>
<p>
5. LINKS TO OTHER WEBSITES.<br/> The SOCIALSCRIPTER.COM site may contain links to other Web sites. Please be aware that SOCIALSCRIPTER.COM is not responsible for the privacy practices of other sites our users choose to visit. If our users provide any information directly to parties other than SOCIALSCRIPTER.COM, different rules may apply to the use or disclosure of the personal information disclosed. We encourage you to investigate and ask questions before disclosing your personal information to third parties.
</p>
<p>
6. THIRD PARTY ADVERTISERS.<br/> SOCIALSCRIPTER.COM may choose to deploy advertising on the service that is delivered to users through a third party's advertising server. Information about users' visits to SOCIALSCRIPTER.COM, such as number of times they have viewed an ad (but no personally identifiable information), would be used to serve ads to users on this site.
</p>
<p>
7. CHAT ROOMS, MESSAGE BOARDS, AND PUBLIC FORUMS.<br/> Please be aware that whenever members voluntarily disclose personal information online - e.g., message boards, chat areas, file uploads, events, and listings - that information becomes public and can be collected and used by others. By posting personal information online in public forums, members may receive unsolicited messages from other parties.
</p>
<p>
8. PRIVACY PROTECTION FOR CHILDREN.<br/> In compliance with the Children's Online Privacy Protection Act (COPPA), we will not knowingly provide access to SOCIALSCRIPTER.COM to persons under the age of thirteen (13). If SOCIALSCRIPTER.COM later learns that any member is under the age of thirteen (13), we will take appropriate steps to remove the member's information from the database and we will restrict this individual from future access to the SOCIALSCRIPTER.COM service.
</p>
<p>
9. UPDATING AND DELETING PERSONAL INFORMATION.<br/> Users who leave the service may choose to have their personal information deleted by contacting us.
</p>
<p>
10. OPT-OUT OF EMAIL.<br/> Users of SOCIALSCRIPTER.COM may choose not to receive email notifications at their registered email addresses. To opt out of the announcements, follow the instructions at the bottom of the e-mail.
</p>
<p>
11. SECURITY PROCEDURES.<br/> SOCIALSCRIPTER.COM has implemented security measures to protect member information from loss, misuse and alteration. We use industry-standard practices such as encrypted storage, firewalls and password protection systems to safeguard the confidentiality of your personal information. Each of our employees is aware of our security policies, and your information is only available to those employees who need it to perform their jobs.
</p>
<p>
12. CONSENT.<br/> This Privacy Policy is a part of the SOCIALSCRIPTER.COM Terms of Use policy. By using SOCIALSCRIPTER.COM, users are using a service provided by SOCIALSCRIPTER.COM and they agree to be bound by the Terms of Use and this Privacy Policy. Some terms may be defined in the Terms of Use. This Privacy Policy only addresses activities from our servers.
</p>
<p>
13. NOTIFICATION OF CHANGES.<br/> If SOCIALSCRIPTER.COM changes its policy and seeks to use your personally identifiable information in a manner different from that stated at the time of collection, you will be notified via e-mail. In addition, if we make any material changes in our privacy practices that do not affect user information already stored in our database, we will post a notice on our Web site notifying users of the change. In some cases where we post the notice, we will also e-mail users who have opted to receive communications from us to notify them of the changes in our privacy practices.
</p>

{% endblock %}