{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - My Scripts{% endblock %}

{% block simple_window_title %}My Scripts{% endblock %}
{% block simple_window_content %}

	{% if script_list %}
	
		<table id="scriptTable" class="display" >
   
		<thead>
		   	<tr>
		    	<th>Script</th> <th>Status</th> <th>Lines</th> <th>Created</th> <th>Modified</th> <th>Twitter Posts</th> <th>Facebook Posts</th>
			</tr>
		</thead>
		<tbody>
	
		{% for script in script_list %}
		<tr>
		
			<td>
			<a href="{% url socialscripter_django.main.views.edit_script script.id %}">
				{{script.name}}
			</a>
			</td>
			
			<td>
				{% ifequal script.status 0 %}
					<span style="color:green;">OK</span>
				{% else %}
					<span style="color:red;">Script error</span>
				{% endifequal %}				
			</td>
			
			<td>
				{{script.num_lines}}
			</td>
			
			<td>
				{{ script.create_date|date:"D d M Y" }}			
			</td>
			
			<td>
				{{ script.modify_date|date:"D d M Y" }}
			</td>
			
			<td>{{script.twitter_num_posts}}</td>
			
			<td>{{script.facebook_num_posts}}</td>
			
		</tr>
		
		{% endfor %}
		
		</tbody>	
		
		</table>
	
	{% else %}
	
		You have no scripts! Why not create a new one? Or click on "browse" to explore other scripts.
	
	{% endif %}
	
	
<script type="text/javascript">
	$(document).ready(function() {
	
	    var oTable = $('#scriptTable').dataTable(
	
	    {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": true,
		"bAutoWidth": false,
		"aoColumns": [
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "html" },				
			{ "sType": "html" },
			]
	    });
	});
</script>	
						
{% endblock %}