.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.sp-category {
  color: green;
}

span.sp-ref {
  color: blue;
}

span.sp-system {
  color: #708;
}

span.sp-comment {
  color: c2c700;
}

/*
span.sp-keyword {
  color: #708;
}

span.sp-prefixed {
  color: #5d1;
}

span.sp-var {
  color: #00c;
}

span.sp-comment {
  color: #a70;
}

span.sp-literal {
  color: #a22;
}

span.sp-uri {
  color: #292;
}

span.sp-operator {
  color: #088;
}
*/