body {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	
	xxxpadding: 20px;	
	padding: 0;
	margin: 0;
	
	xxxbackground: #55ddff;
	background: #cdf8ff url('/img/bg.jpg') repeat-x
}

a:focus, a:active, a:visited {
	outline: none;	
}

ul, ol, li { 
	list-style: none; padding: 0; margin: 0;
}

label {
	display: block;
	xxxcursor: pointer;
	qqqvertical-align: middle;	
	xxxline-height: 18px;	
}

ul.socialFrequency label,
ul#twitterBefriend label {
	display: inline;	
}

ul.socialFrequency label,
ul.socialFrequency li {
	vertical-align: middle;
}	

input[type="radio"],
input[type="checkbox"] {
	margin: 0 3px 0 0;
	padding: 0;
	vertical-align: middle;	
	}

img {
	border: none;	
}

p {
	margin: 0;
	padding-bottom: 10px;	
}

div.labelField {
	margin-top: 10px;	
}

legend {
	font-size: 14px;	
}

.clear { 
	clear: both; height: 0px; line-height: 0px;
}

textarea {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 12px;	
}

h1 {
	xxxdisplay: inline;
	xxxfont-size: 36px;
	xxxcolor: #ee2244;	
	
	font-size: 36px;
	xxcolor: #ffffff;
}


div#header {
	position: relative;
	
	width: 900px;
	margin: 0px auto 20px auto;
	padding-top: 7px;
	height: 50px;		
}

div#header div#bar {
	margin-top: 15px;
	border: solid 1px #999999;
	
	xxxposition: relative;
	position: absolute;
	right: 10px;
	top: 5px;
}

/*
div#header div#bar div#barUserName {
	position: absolute;
	right: 5px;
	top: 35px;	
}
*/

div#header div#bar ul {
			
}

div#header div#bar li {
	float: left;	
	background: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border-right: solid 1px #999999;		
}

div#header div#bar li a {
	display: block;
	padding: 7px;
	text-decoration: none;
}

div#header div#bar li.selected {
	background: #ffbbbb;	
}

form.simpleForm div.simpleFormInput {
	float: left;
}

form.simpleForm div.simpleFormError {
	float: left;
	color: red;
	padding-top: 8px;
	padding-left: 10px;
}

form img.captcha {
	display: block;	
}

div#userMessages {
	display: none;
	background: white;
	xxxposition: absolute;
	xxxtop: 0;
	xxxleft: 0;
	position: fixed;
	z-index: 10000;
	width: 100%;
	padding: 20px 0 20px 0px;
	xxxborder-bottom: 5px solid black;	
}

div#userMessages div#userMessagesContent {
	width: 800px;
	margin: 0 auto;
	text-align: center;	
	
	display: block;
	font-size: 20px;	
	text-decoration: none;
	font-weight: bold;
}



div#warnings_header {
	font-size: 18px;
	font-weight: bold;
}

div#samplesentences_header {
	font-size: 18px;
	font-weight: bold;
}

div#samplesentences_items {
	font-size: 16px;
}

div#samplesentences_items li {
	padding-bottom: 10px;
}

div.window.index div#leftText {
	float: left;
	display: block; 
	width:660px; 
}

div.window.index div#miniLogin {
	display: block;
	float: left; 
	width: 200px; 
	height: 600px; 
	padding-left: 10px; 
	padding-top: 10px;	
}

div.window.index h1 {
	font-size: 30px;
	font-family: helvetica, arial, sans-serif;
	font-size: 41px;
	letter-spacing: -2px;
	margin: 0;
	padding: 0 0 30px 0;
}

div.window.index div.screenshotContainer {
	padding-bottom: 40px;	
}

div.window.index div.screenshotImage {
	float: left;
	width: 200px;	
}

div.window.index div.screenshotText {
	float: left;	
	width: 420px;
	
	font-family: georgia;
	font-size: 15px;
	line-height: 1.3em;
	
	padding-left: 20px;	
}

h2 {	
	padding: 20px 0 10px 0;	
	color: #3671A1;
	font-size: 16px;
	line-height: 1.2em;	
	text-transform: uppercase;	
	font-family:helvetica,arial,sans-serif;
	margin: 0;
}
	
div.window.index div.screenshotText h2 {	
	padding: 0 0 10px 0;
}



div#main {
	xxxwidth: 800px;
	xxxmargin: 0 auto 0 auto;
	xxxbackground: #ffffff;	
}

div#box {
	width: 800px;
	xxxbackground: #ffbbbb;
	xxxbackground: #ffffff;
	xxxborder: 2px solid #000000;	
}

div#box div#boxContent {
	padding: 10px;
	padding-bottom: 20px;
}

div#box div#boxContent div.boxContentPanel {
	display: none;
}


div#box div#boxContent div#scriptName {
	font-size: 24px;
	font-weight: bold;	
	padding-bottom: 10px;
}




div.window {
	background-color: #bee1aa;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

div.window.fullsize {
	margin-left: 40px;
	margin-right: 40px;
}

div.window.regular {
	width: 900px;
	margin-left: auto;
	margin-right: auto;	
}

div.window.small {
	width: 400px;
	margin-left: auto;
	margin-right: auto;		
}

div.window div.windowHeader {
	color: #63864f;
	font-weight: bold;
	font-size: 14px;	
	padding: 5px 5px 5px 5px;
	
	xxxbackground: #bee1aa url('/img/window_icon.png') no-repeat;
	xxxbackground-position: 5px 5px;	
	background-position: 755px 5px;
}

div.window div.windowHeader div.windowHeaderTitle {
	xxxpadding-left: 25px;	
}

div.window div.windowContents {
	background-color: #ffffff;	
	xxxmargin: 5px;
	margin: 0 5px 0 5px;
	padding: 10px 10px 20px 10px;
	xxxfont-size: 12px;
}

div.window.help {
	font-family: georgia;
	font-size: 15px;	
}

div.window.help div.tocItem {
	padding: 0 0 5px 20px;
}

div.window.help div.scriptCode {
	font-family: monospace;
	border: 1px solid #cccccc;
	padding: 10px; 	
	width: 500px;
}

div.window.help div.scriptHelpItem {
	padding-bottom: 20px;
	width: 500px;	
}

div.window.help div.scriptHelpItem div.scriptHelpItemHeader {
	font-family: monospace;
	border-bottom: 1px solid #cccccc;	
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

div.window.help div.scriptHelpItem div.scriptHelpItemDoc {
	
}

div.window div.windowContents span.bigger {
	font-size: 20px;	
}

div.window div.windowContents span.big {
	font-size: 16px;	
}

div.window div.windowMenu {
	margin-top: 5px;
	xxxfont-weight: bold;
	font-size: 14px;
	margin-left: 5px;	
	
	background-color: #bee1aa;
}

div.window div.windowMenu ul li {
	float: left;
}

div.window div.windowMenu ul li a {
	display: block;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	text-decoration: none;
	margin-bottom: 0px;
	color: #63864f;	
}

div.window div.windowMenu ul li.selected a {
	font-weight: bold;
	background-color: #ffffff;
}

div.window div.windowMenu ul li.red a {
	color: #aa0000;
}

div.window div.windowMenu ul li.gray a {
	color: #aaaaaa;
}

/*
div.window li#windowMenuScriptEdit a {
	padding-left: 27px;
	background-image: url('/img/small_icon_robot.png');
	background-repeat: no-repeat;
	background-position: 9px 5px;	
}
*/

div.window li#windowMenuScriptTwitter a {
	padding-left: 27px;
	background-image: url('/img/small_icon_twitter.png');
	background-repeat: no-repeat;
	background-position: 9px 5px;	
}

div.window li#windowMenuScriptFacebook a {
	padding-left: 27px;
	background-image: url('/img/small_icon_facebook.png');
	background-repeat: no-repeat;
	background-position: 9px 6px;	
}

div.window div#windowContentsScriptEdit div#scriptEditSingleScriptError {
	display: none;
	color: red;	
}

div.window div#windowContentsScriptRun div.singleSentence {
	xxxfont-size: 14px;
	margin-bottom: 9px;	
}

textarea#id_script_data {
	xxxwidth: 820px;
	width: 100%;
	height: 350px;
	font-family: monospace;
}

textarea.scriptCode {
	font-family: monospace;
	padding-top: 10px;
	padding-bottom: 10px;	
}

div.debugLine {
	background: url('/img/debug_line.png');		
	xxxbackground-position: 755px 5px;
	float:left;
}

div.debugText {
	float:left;
}

div#dirtyMessage {

}

div.dirtyMessageRed {
	color: #cc0000;	
}

div.dirtyMessageGreen {
	color: #00aa00;	
}

div.dirtyMessageBlue {
	color: #0000cc;	
}

ul.socialFrequency,
ul#twitterBefriend {
	padding-top: 5px;	
}

ul.socialFrequency li,
ul#twitterBefriend li {
	padding: 4px 0 4px 5px;	
}

ul.socialFrequency li {	
	width: 500px;	
}

ul.socialFrequency li.selected {
	xxxbackground: #fafcd6;
	background: #9de6f1;
}

input#id_twitter_timing-wakingtime_range_min,
input#id_twitter_timing-wakingtime_range_max,
input#id_twitter_timing-anytime_range_min,
input#id_twitter_timing-anytime_range_max,
input#id_facebook_timing-wakingtime_range_min,
input#id_facebook_timing-wakingtime_range_max,
input#id_facebook_timing-anytime_range_min,
input#id_facebook_timing-anytime_range_max {
	width: 25px;	
}

input#id_twitter_timing-exacttime,
input#id_facebook_timing-exacttime {
	width: 70px;	
}

div#footer {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}


div.CodeMirror-line-numbers {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}